.stopwatch{
    position: absolute;
    align-items: center;
    justify-content: center;
    display: grid;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    font-size: 5rem;
    /*grid-template-columns: repeat(1 , auto);*/

    
}
.datecontainer{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}
.factcontainer{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    font-size: 2rem;
}
.timecontainer{
    position: relative; 
    display: flex;
    flex-direction: row;
    /*border:1px solid white;*/
    justify-content: center;
    align-items: center; 

}
.dateCell{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center; 
    position:relative;
    cursor: pointer;
    /*border:1px solid white;*/
}
.dateCell:nth-child(1)
.dateCell:nth-child(4){
    width: 20px;
}

.timeCell {
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center; 
    position:relative;
    cursor: pointer;
    /*border:1px solid white;*/

}
.timeCell:nth-child(2)
.timeCell:nth-child(6){
    width: 20px;
}